<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appinbox.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".ui.AppInboxActivity"
            android:label="@string/title_activity_app_inbox"
            android:theme="@style/Theme.AppInbox.NoActionBar"></activity>
    </application>

</manifest>